*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Rubik', sans-serif;
}


.container{
    max-width: 1440px;
    width: 100%;
    padding-left: 120px;
    padding-right: 120px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

/* NAVBAR SECTION STYLES */

nav{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}
.nav-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 38px;
    padding-bottom: 38px;
    height: 105px;
    background-color: #F6F6F6;
    max-width: 1440px;
    padding-left: 120px;
    padding-right: 120px;
}

.nav-top__left{
    display: flex;
}

.currency{
    display: flex;
    align-items: center;
    margin-left: 40px;
}
.currency > div{
    margin-right: 25px;
}
.currencyIcon{
    color: #2959CE;
    font-weight: 700;
}
.currencyText{
    color: #555555;
}

.hamburgerIcon{
    display: none;
}

.nav-top__right{
    display: flex;
    align-items: center;
}

.search input{
    width: 275px;
    height: 45px;
    border-radius: 60px;
    border: none;
    padding-left: 15px;
    font-size: 14px;
    color: #8D8D8D;
}
.search input::placeholder{
    color: #8D8D8D;
}
.search{
    position: relative;
}

.searchIcon{
    position: absolute;
    top: 13px;
    left: 15px;
    z-index: 1;
}
.lang-change{
    display: flex;
    align-items: center;
    margin: 0 25px;
    width: 70px;
    height: 36px;
    justify-content: space-around;
    background-color:  #DCE6FF;
    border-radius: 39px;
    font-size: 13px;
    cursor: pointer;
}
.lang-change div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.uz-lang{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
}
.ru-lang{
    color: #a6a6a6;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #DCE6FF;
}

.sign{
    padding: 13px 20px;
    border: none;
    background-color: #7296EC;
    border-radius: 10px;
}
.sign a{
    color: #fff;
    text-decoration: none;
}

.nav-items{
    display: flex;
    list-style: none;
    padding: 30px 120px 20px;
    justify-content: space-between;
}

.nav-item a{
    text-decoration: none;
    font-size: 18px;
    color: #7F7F7F;
    font-weight: 500;
}
.line{
    max-width: 1200px;
    width: 100%;
    height: 0px;
    border: 1px solid #D1D1D1;
    margin: 0 auto;
}

/* HERO SECTION STYLES */

.hero{
    margin: 0 auto;
}

.add{
    border-radius: 8px;
    margin-top: 40px;
    margin-bottom: 50px;
}

.main-new__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.main-new__item {
    padding: 20px 17px;
    background-color: #F6F6F6;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.new-item__head {
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    padding-bottom: 10px;
}
.new-item__description {
    font-size: 16px;
    font-weight: 400px;
    line-height: 22px;
    color: #4A4B4C;
    padding-bottom: 15px;
}
.new-item__link {
    display: flex;
    column-gap: 10px;
    padding-top: 10px;
    align-items: center;
}
.item-link__text {
    font-size: 12px;
    color: #5E5F61;
}



@media screen and (max-width:1200px) {
    .nav-items{
        display: grid;
        justify-items: center;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: repeat(4, 1fr);
    }
    .nav-item{
        padding-bottom: 10px;
    }

    .hero{
        max-width: 1200px;
    }

    .main-new__items{
        grid-template-columns: 1fr 1fr;
        column-gap: 40px;
    }

    .add{
        max-width: 100px;
        transform: scale(0.7);
    }
}

@media screen and (max-width:1100px) {

    .search input{
        width: 50px;
        font-size: 20px;
    }

}

@media screen and (max-width: 886px) {
    .container{
        padding-left: 50px;
        padding-right: 50px;
    }
    
    .nav-top{
        padding-left: 40px;
        padding-right: 40px;
    }

    .nav-items{
        padding-left: 40px;
        padding-right: 40px;
    }
    
    .currency{
        display: none;
    }

    .searchInput::placeholder{
        width: 30px;
        font-size: 18px;
    }

    .add{
        transform: scaleY(0.6);
        transform: scaleX(0.5);
        margin-left: -20px;
    }

    .main-new__items{
        grid-template-columns: 1fr;
        row-gap: 20px;
    }
}



@media screen and (max-width: 650px) {
    .nav-items{
        display: none;
    }
    .line{
        margin-top: 20px;
    }

    .hamburgerIcon {
        display: inline-block;
        cursor: pointer;
      }
      
      .line1, .line2, .line3 {
        width: 30px;
        height: 3px;
        background-color: #333;
        margin: 6px 10px;
        transition: 0.4s;
      }

      .change .line1 {
        -webkit-transform: rotate(-45deg) translate(-4px, 8px) ;
        transform: rotate(-45deg) translate(-4px, 8px) ;
      }
      
      .change .line2 {
        opacity: 0;
      }
      
      .change .line3 {
        -webkit-transform: rotate(45deg) translate(-4px, -9px) ;
        transform: rotate(45deg) translate(-4px, -9px) ;
      }

      .active {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }

      .nav-top__left img{
        transform: scale(0.7);
      }

      .nav-top{
        padding-left: 0;
      }

      .add{
        transform: scale(0.38);
        transform: scaleX(0.36);
        margin-left: -20px;
      }



}

@media screen and (max-width: 500px) {
    .add{
        transform: scale(0.3);
        margin-bottom: -30px;
        margin-top: -30px;
    }

}
@media screen and (max-width: 420px) {
    .container{
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .main-new__items{
        row-gap: 0;
        justify-content: center;
        justify-items: center;
        max-width: 30px;
    }
    
    .main-new__item{
        transform: scale(0.8);
    }

    .main-new__item:not(:first-child) {
        margin-top: -50px;
    }

    .add{
        margin-left: -200px;
    }

}
@media screen and (max-width: 336px) {
    .nav-top{
        padding-right: 10px;
    }

    .nav-top__left{
        width: 80%;
    }
 

    .main-new__item{
        transform: scale(0.7);
    }

    .main-new__items:first-child{
        margin-top: -20px;
    }

    .main-new__item:not(:first-child) {
        margin-top: -100px;
    }

    .add{
        transform: scale(0.2);
        margin-left: -150px;
        margin-bottom: -100px;
    }
}



